.DS_Store
.idea/*
*.pid
*.ipr
*.iws
*.war
*.ear
.settings
target
work
.DS_Store
.classpath
.project
.db
.idea
*.iml
Thumbs.db
.*~
*.log
bin/index
*.bk
logs/
*.o
*.so
*.swp
*.vec
*.class
*.bak
*.backup
*.mat
*.tree.txt
.factorypath
.vscode/
*.vocab
data/
*.jar
tree*
up.push.git.sh